:root {
    --black: #0d0f11;
    --burgandy: #61000d;
    --red: #d2374a;
    --green: #5d9700;
    --lightblue: #d7ecf4;
  }

* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: Helvetica, sans-serif; */
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    height:100vh;
    width: 100vw;
}

a {
    color: orchid;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header a{
    color: black;
    border: none;
    padding: 1vh 0 1vh 0;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    transition-duration: 0.4s;
    background-color: white;
}

.header a:hover,
.header .router-link-exact-active {
    color: gold;
    background-color: black;
}

.pageContent {
    color: black;
    overflow: auto;
}

.heroImage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    padding: 10vh 0 10vh 0;
}

.heroText {
    text-align: center;
    background-color:black;
    color: white;
    border: solid gray;
    padding: 2vh 2vw;
}

.pageContent p {
    text-align: justify;
    text-justify: inter-character;
}

.footer {
    padding: 1vh 0 1vh 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

.footerHeader {
    color: gold;
}

.footerBlock {
    text-align: justify;
    text-justify: inter-character;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 20vw;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .4s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}

/* mobile */
@media (max-width: 480px) {
    .pageContent {
        width: 95vw;
    }
}

/* tablet */
@media (max-width: 768px) {
    .pageContent {
        width: 90vw;
    }
}

/* laptop */
@media (max-width: 1024px) {
    .pageContent {
        width: 80vw;
    }
}

/* desktop */
@media (min-width: 1025px) {
    .pageContent {
        width: 70vw;
    }
}

/* large screens
@media (min-width: 1201px) {

} */