* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
    max-height: 100%;;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    min-height:100vh;
    width: 100vw;
    overflow-wrap: break-word;
}

a {
    color: deepskyblue;
}

a:visited {
    color: lightskyblue;
}

.page-content a {
    color: mediumblue;
}

.page-content a:visited {
    color: royalblue;
}

.lander {
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("./assets/meditation.jpg"); */
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    padding: 48px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2vh 2vw;
    box-sizing: border-box;
    text-align: center;
}

.lander-text {
    margin: 2vh 2vw;
    color: white;
}

.lander-filler {
    height: 48px;
    width: 100vw;
}

.nav-container {
    position: absolute;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9;
}

.nav-bar * {
    align-self: stretch;
    display:flex;
    align-items:center;
    justify-content: center;
}

.nav-bar a{
    color: white;
    flex-grow: 1;
    border: none;
    text-decoration: none;
    text-align: center;
    transition-duration: 0.4s;
}

.nav-item:hover,
.nav-item.router-link-exact-active {
    color: black;
    background-color: white;
}

.nav-item:hover .logo,
.router-link-exact-active .logo {
    fill: black;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    fill: white;
}

.page-frame {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    padding: 8vh 0;
    width:100%;
    flex-grow: 0;
}

.hero-text {
    text-align: center;
    background-color:black;
    color: white;
    border: solid gray;
    padding: 2vh 2vw;
}

.page-content {
    text-align: justify;
    text-justify: newspaper;
    margin: 5vh 5vw;
}

.question {
    font-style: italic;
}

.footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 2.5vh 2.5vw;
    box-sizing: border-box;
}

.footer-block {
    width: 30vw;
    box-sizing: border-box;
    padding: 2.5vh 2.5vw;
    text-align: left;
}

.footer-header {
    color: gold;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .4s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}

.bounce {
    animation: bounce 2s infinite;
}

.arrow {
    fill: white;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

/* mobile */
@media (max-width: 480px) {
    .page-content {
        max-width: 95vw;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-block {
        width: 80vw;
        text-align: center;
    }
    .brand-name {
        display: none;
    }
}

/* tablet */
@media (max-width: 768px) {
    .page-content {
        max-width: 80vw;
    }
}

/* laptop */
@media (max-width: 1024px) {
    .page-content {
        max-width: 70vw;
    }
}

/* desktop */
@media (min-width: 1025px) {
    .page-content {
        max-width: 60vw;
    }
}

/* large screens
@media (min-width: 1201px) {

} */