* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  position: relative;
}

nav {
  display: flex; /* Updated to use flexbox */
  background-color: #00008B;
  height: 3em;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: flex; /* Using flexbox for centering and stretching */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%;
  flex-grow: 1; /* Added to make the link take the available space */
  padding: 0 1em; /* Updated padding to avoid non-clickable area near the edge */
}

nav a:hover {
  background-color: #222A68;
}

nav .menu-toggle {
  display: none;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.fullscreen-image {
  height: 100vh;
  background-image: url('lake.jpg');
  background-size: cover;
  background-position: center;
}

.italics {
  font-style: italic;
}

main {
  padding: 2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.full-column {
  margin-top: 2em;
}

.column p {
  margin-bottom: 1em;
}

.column a,
a {
  color: #0000EE;
  text-decoration: underline;
}

.column a:hover,
a:hover {
  text-decoration: none;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.5;
}

em {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  nav {
    flex-wrap: wrap;
  }

  nav .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
    background-color: #222A68;
  }

  nav .menu-toggle:hover {
    background-color: #1a1f4b;
  }

  nav a {
    display: none;
    width: 100%;
    padding: 1em;
    background-color: #222A68; /* Added background color to the links */
  }

  nav.show-links a {
    display: flex;
  }

  .fullscreen-image {
    height: 50vh;
  }
}
