* {
    padding: 0;
    margin: 0;
}

input[type=text] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid black;
    width: 50%;
    text-align: center;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    align-content: stretch;
    padding: 10px 12px;
    background-color: #eee;
    box-sizing: border-box;
}

.content {
    padding: 10px 0;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;

}

.slider {
    width: min(60vw, 400px);
}

.styledButton {
    border-radius: 10px;
    background-color:white;
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    margin: 5px 0;
    transition-duration: 0.4s;
}

.styledButton:hover{
    background-color: black;
    color: white;
}

.radio {
    transition-duration: 0.4s;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    color: black;
}

.selected {
    background-color: black;
    color: white;
}

.question {
    word-break:break-word;
}

.answer{
    width: 91px;
    margin: 0;
}

/* .questionTable{
    border-spacing: 10px;
} */

.question,
.answer {
    padding: 8px 0;
}

.paragraph{
    padding: 12px 0;
}

tr:nth-child(even) {background: #eee}
tr:nth-child(odd) {background: #FFF}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 10px 12px;
}

.onlyPrint{
    display: none;
}

@media print {
    .noPrint{
        display: none;
    }
    .onlyPrint{
        display: block;
    }
}